# Map other Email Addresses used in commits to correct UC ones
Dominic Gorny <dgo65@uclive.ac.nz> <dominic.gorny11@gmail.com>
Lachlan Stewart <lst117@uclive.ac.nz> <lachiestewart@lachies-macbook-air.local>