<!--
Fragment that runs the nav bar, to add the navbar to you page:
insert into the head:
"
<link th:href="@{/css/navBar.css}" rel="stylesheet">
"
insert into the HTML body at the top:
"
<div th:replace="fragmentExample/fragments/navBar.html :: navBar">
"
Editing content below will change the nav bar on all pages where it is implemented
-->


<nav th:fragment = "navBar(activeParam)" id="navbar">
    <ul class="navbarContainer">
        <li th:class="${activeParam == 'home' ? 'active' : ''}">
            <a th:href="@{/home}">Home</a>
        </li>
        <li th:class="${activeParam == 'create' ? 'active' : ''}" th:if="${loggedIn == null ? false : loggedIn}">
            <button id="createGardenBtn" class =  "navBarButton" onclick="createGarden()">
                <a>Create Garden</a>
            </button>
        </li>
        <li th:class="${activeParam == 'register' ? 'active' : ''}" th:if="${loggedIn == null ? true : !loggedIn}">
            <button id="registerBtn" class =  "navBarButton" onclick="openRegisterPage()">
                <a>Register</a>
            </button>
        </li>
        <li th:class="${activeParam == 'login' ? 'active' : ''}" th:if="${loggedIn == null ? true : !loggedIn}">
            <button id="loginBtn" class =  "navBarButton" onclick="openLoginPage()">
                <a>Login</a>
            </button>
        </li>
        <li th:class="${activeParam == 'gardens' ? 'active' : ''}" th:if="${loggedIn == null ? false : loggedIn}" id = "gardenDropDown" >

            <div class="dropdownContainer">
                <a th:href="@{/my-gardens}">My Gardens</a>

                <ul>
                    <li th:each="garden : ${session.userGardens}">
                        <a th:href="@{/my-gardens/{gardenId}(gardenId=${garden.getGardenId})}">
                            <span th:text="${garden.getGardenName}">Garden Name</span>
                        </a>
                    </li>
                </ul>
            </div>


         </li>

        <li th:class="${activeParam == 'browsePublic' ? 'active' : ''}" th:if="${loggedIn == null ? false : loggedIn}">
            <button id="browsePublicGardensButton" class =  "navBarButton" onclick="openPublicGardens()">
                <a>Browse Gardens</a>
            </button>
        </li>


     </ul>
     <div id = "divider"></div>
    <script th:src="@{/js/createButtonReturn.js}"></script>
 </nav>