<div th:fragment="pendingFriendsBox(friendsProfilePicture, friendsName,  isSender, friendId)">
    <div class="gardenbox" id="gardenbox">
        <div class="garden-details">
            <img id="imageToChange" th:src="@{${friendsProfilePicture == null ? '/images/default_profile_picture.png' : '/files/plants/' + friendsProfilePicture}}"
                 alt="Plant Image" class="plant-image">
            <br>
            <span th:text="${friendsName}" class="garden-name"></span>
            <br>
            <div th:if="${isSender}">
                <button class="cancel-request-button">Cancel Friend Request</button>
            </div>
            <div th:if="${!isSender}">
                <form class="manage-friends-form" method="post" th:action="@{/manage-friends}">
                    <input type="hidden" name="pendingFriendId" th:value="${friendId}">
                    <input type="hidden" name="acceptedFriend" th:value="false">
                    <button class="accept-request-button" onclick="manageRequest(this)">Accept Friend Request</button>
                    <button class="decline-request-button" onclick="manageRequest(this)">Decline Friend Request</button>

                </form>
            </div>


        </div>
    </div>
    <br>
</div>
