<div th:fragment="plantBox(plantId, plantName, plantCount, plantDescription, plantDate, plantPicture)">
    <div class="plantbox" id="plantbox">
        <div class="plant-info">
            <span th:text="${plantName} + ' (x' + ${plantCount} +')'" class="plant-name"></span>

            <form th:action="@{/my-gardens/__${gardenId}__}" method="post" enctype="multipart/form-data">
            <div class="plant_picture_container small_pic">
                <img id="imageToChange" th:src="${plantPicture == null ? '/images/default_plant.png' : '/files/plants/' + plantPicture}"
                     alt="Plant Image" class="plant-image">
                <label for="plantPictureInput">+</label>
                <input id="plantId" th:name="plantId" th:value="${plantId}" type="hidden"/>
                <input id="plantPictureInput" type="file" th:name="plantPictureInput" accept="image/*"
                       onChange="handleFileSelect(event); this.form.submit()">
            </div>
            </form>
            <span th:if="${plantToEditId == plantId}" class="error-message" th:text="${plantPictureError}"></span>
            <br>
        </div>

        <div class="plant-details">
            <span th:if="${plantDate == null}" class="plant-date"> Planted on: not specified </span>
            <span th:if="${plantDate != null}" th:text="'Planted on: ' + ${plantDate}" class="plant-date"> Name </span>
            <span th:text="${plantDescription}" class="plant-description"></span>
        </div>
    </div>

    <div class="edit-button-container">
        <a th:href="@{__${gardenId}__/__${plantId}__/edit}">
            <button class="rounded-button">Edit Plant</button>
        </a>
    </div>
    <br>
</div>
