<!--
Fragment that runs the profile picture picker, to use:
insert into the head:

<link th:href="@{/css/profilePicturePicker.css}" rel="stylesheet">

insert into the HTML body:

<div th:replace="fragmentExample/fragments/profilePicturePicker.html :: profilePicturePicker(subOnChange)">

Editing content below will change the profilePicturePicker on all pages where it is implemented

Paramter subOnChange is optional, if true the form will be submitted when a file is selected 

Post end points using this fragment should have a MultipartFile profilePictureInput parameter

Get end points using this fragment should have a String profilePicture parameter, 
    and optionally a String profilePictureError parameter
-->
<th:block th:fragment="profilePicturePicker(subOnChange)">

    <div class="profile_picture_container">
        <img id="profilePicture" th:src="@{${profilePicture}}" alt="User's profile picture">
        <label for="profilePictureInput">+</label>
        <input id="profilePictureInput" type="file" th:name="profilePictureInput" accept="image/*"
            th:onChange="${subOnChange? 'handleFileSelect(event) this.form.submit()' : 'handleFileSelect(event)'}">
    </div>
    <span th:if="${profilePictureError}" class="error-message" th:text="${profilePictureError}"></span>
    <script th:src="@{/js/profilePicturePicker.js}"></script>

</th:block>