<!DOCTYPE html>
<div class="pagination">
    <a th:href="@{/public-gardens/search/{page}(page=${1}, searchInput=${searchValue})}" class="first">First</a>

    <span th:if="${currentPage > 3}" class="dots">...</span>

    <a th:href="@{/public-gardens/search/{page}(page=${currentPage - 2},searchInput=${searchValue})}"
       th:if="${currentPage - 2 > 0}"
       th:text="${currentPage - 2}"></a>

    <a th:href="@{/public-gardens/search/{page}(page=${currentPage - 1}, searchInput=${searchValue})}"
       th:if="${currentPage - 1 > 0}"
       th:text="${currentPage - 1}"></a>

    <a th:text="${currentPage}" class="current-page"></a>

    <a th:href="@{/public-gardens/search/{page}(page=${currentPage + 1}, searchInput=${searchValue})}"
       th:if="${currentPage + 1 <= lastPage}"
       th:text="${currentPage + 1}"></a>

    <a th:href="@{/public-gardens/search/{page}(page=${currentPage + 2}, searchInput=${searchValue})}"
       th:if="${currentPage + 2 <= lastPage}"
       th:text="${currentPage + 2}"></a>

    <span th:if="${currentPage < lastPage - 2}" class="dots">...</span>

    <a th:href="@{/public-gardens/search/{page}(page=${lastPage}, searchInput=${searchValue})}"
       class="first">Last</a>
    <br>
</div>