<div th:fragment="declinedFriendsBox(friendsProfilePicture, friendsName,  isSender, friendId)">
    <div class="card h-100 bg-success text-white garden-card" id="gardenbox">
        <div class="card-body pt-1 text-center">
            <h4 th:text="${friendsName}" class="card-title justify-content-center"></h4>
            <img id="imageToChange" th:src="@{${friendsProfilePicture == null ? '/images/default_profile_picture.png' : '/files/plants/' + friendsProfilePicture}}"
                 alt="Plant Image" class="card-img-top rounded justify-content-center mb-4">
            <div th:if="${isSender}">
                <p>Declined your request.</p>
            </div>

            <div th:if="${!isSender}">
                <form th:action="@{/manage-friends/send-invite}" method="post">
                    <input type="hidden" th:name="friendId" th:value="${friendId}"/>
                    <input type="hidden" th:name="activeTab" th:value="declined">
                    <p>You declined their request.</p>
                    <p>If you changed your mind you may:</p>
                    <button type="submit" class="btn btn-light mb-3">Invite as friend</button>
                </form>
            </div>


        </div>
    </div>
    <br>
</div>
