<div
    th:fragment="plantBox(plantId, plantName, plantCount, plantDescription, plantDate, plantPicture, isOwner, page, weather)">
    <div class="card h-100 bg-success text-white garden-card">
        <div class="card-body pt-1">
            <div class="modal fade text-black" id="importPlantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Select one of your gardens to add plant to:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <select class="form-select" aria-label="Select garden">
                                <option selected>Select a garden</option>
                                <option th:each="garden : ${session.userGardens}" th:text="${garden.getGardenName}" th:value="${garden.getGardenId}"></option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Add to garden</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <a th:if="${isOwner}" th:href="@{__${gardenId}__/__${plantId}__/edit}">
                    <svg width="20" height="20" focusable="false" aria-hidden="true" viewBox="0 0 24 24" fill="#ffffff"
                        tabindex="-1" title="Edit">
                        <path
                            d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75z">
                        </path>
                    </svg>
                </a>
            </div>
            <div th:if="${isOwner}">
                <form id="plantImageForm" th:action="@{/my-gardens/__${gardenId}__}" method="post" enctype="multipart/form-data"
                    class="w-100 d-flex flex-column align-items-center mb-2">

                    <div class="position-relative w-50 mb-1">
                        <div class="ratio ratio-1x1">
                            <img id="imageToChange"
                                th:src="@{${plantPicture == null ? '/images/default_plant.png' : '/files/plants/' + plantPicture}}"
                                alt="Plant Picture" class="image-fluid rounded-circle w-100 h-100 object-fit-cover">
                        </div>
                        <label
                            class="position-absolute top-0 start-0 w-100 h-100 rounded-circle cursor-pointer darken-on-hover">
                            <span class="position-absolute top-0 end-0 mt-2 pe-4 fs-1">+</span>
                            <input id="page" th:name="page" th:value="${page}" type="hidden" />
                            <input id="weather" th:name="weather" th:value="${weather}" type="hidden" />
                            <input id="plantId" th:name="plantId" th:value="${plantId}" type="hidden" />
                            <input id="plantPictureInput" type="file" th:name="plantPictureInput" accept="image/*"
                                class="visually-hidden" data-image-input data-displayed-by="imageToChange"
                                data-errored-by="plantPictureError" data-submit-if-valid>
                        </label>
                    </div>
                    <p id="plantPictureError" class="text-danger fs-6 text-bold" th:text="${plantToEditId == plantId ? plantPictureError : ''}"></p>
                </form>
            </div>
            <div th:if="${!isOwner}" class="d-flex flex-row gap-1">
                <div class="col-10">
                    <img th:src="@{${plantPicture == null ? '/images/default_plant.png' : '/files/plants/' + plantPicture}}"
                        alt="Plant Picture" class="image-fluid rounded-circle w-100 h-100 object-fit-cover">
                </div>
                <div class="col-2">
                    <button th:if="${!isOwner}" type="button" class="btn p-0 rounded-3" data-bs-toggle="modal" data-bs-target="#importPlantModal">
                        <img src='/images/smallImportPlant.png' class="w-100 h-100 image-fluid rounded-3" alt="Import plant to one of your gardens">
                    </button>
                </div>
            </div>
            <h4 class="card-title mt-1" th:text="${plantName} + ' (x' + ${plantCount} +')'"></h4>
            <div class="row">
                <span th:if="${plantDate == null}" class="plant-date"> Planted on: not specified </span>
                <span th:if="${plantDate != null}" th:text="${plantDate}" class="plant-date"> Name </span>
                <span th:text="${plantDescription}" class="plant-description"></span>
            </div>
        </div>
    </div>

</div>