<div
        th:fragment="plantBox(plantId, plantName, plantCount, plantDescription, plantDate, plantPicture, isOwner, page, weatherListJson)">
    <div class="card h-100 bg-success text-white garden-card">
        <div class="card-body pt-1">
            <div class="modal fade text-black" id="importPlantModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Select one of your gardens to add plant to:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <form th:action="@{/import-plant}" method="post">
                            <input type="hidden" th:value="${plantId}" th:name="plantId">

                            <div class="modal-body" th:if="${!#lists.isEmpty(session.userGardens)}">
                                <select class="form-select col-xxl-3"
                                        aria-label="Select garden" th:name="gardenId">
                                    <option class="text-truncate" th:each="garden : ${session.userGardens}"
                                            th:with="gardenName=${garden.getGardenName}"
                                            th:text="${#strings.length(gardenName) > 30 ? #strings.substring(gardenName,0,27) + '...' : gardenName}"
                                            th:value="${garden.getGardenId}">
                                    </option>
                                </select>
                            </div>
                            <div class="modal-body" th:if="${#lists.isEmpty(session.userGardens)}">
                                <p id="missingGardenErrorText" class="mb-0 text-danger fs-6"
                                   th:text="${'You do not have any gardens. You cannot import a plant. Please cancel or create a new garden first'}"></p>
                            </div>


                            <div class="modal-footer justify-content-center">
                                <button type="submit" th:if="${!#lists.isEmpty(session.userGardens)}"
                                        class="btn btn-success">Add to garden
                                </button>
                                <a th:href="@{/create-new-garden}"
                                   class="btn btn-success" th:if="${#lists.isEmpty(session.userGardens)}"
                                   data-bs-dismiss="modal">
                                    Create Garden
                                </a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="text-end">
                <a th:if="${isOwner}" th:href="@{__${gardenId}__/__${plantId}__/edit}" aria-label="Plant edit link">
                    <svg width="20" height="20" focusable="false" aria-hidden="true" viewBox="0 0 24 24" fill="#ffffff"
                         tabindex="-1" title="Edit">
                        <path
                                d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0l-1.83 1.83 3.75 3.75z">
                        </path>
                    </svg>
                </a>
            </div>
            <div th:if="${isOwner}">
                <form id="plantImageForm" th:action="@{/my-gardens/__${gardenId}__}" method="post"
                      enctype="multipart/form-data" class="w-100 d-flex flex-column align-items-center mb-2">

                    <div class="position-relative w-50 mb-1">
                        <div class="ratio ratio-1x1">
                            <img th:id="'imageToChange' + ${plantId}"
                                 th:src="@{${plantPicture == null ? '/images/default_plant.png' : '/files/plants/' + plantPicture}}"
                                 alt="Plant" class="image-fluid rounded-circle w-100 h-100 object-fit-cover">
                        </div>
                        <label
                                class="position-absolute top-0 start-0 w-100 h-100 rounded-circle cursor-pointer darken-on-hover">
                            <div class="position-absolute top-0 end-0 w-50 h-50">
                                <p class="position-absolute top-50 start-50 translate-middle fs-1">+</p>
                            </div>
                            <input id="plantPictureInput" type="file" th:name="plantPictureInput" accept="image/*"
                                   class="visually-hidden" data-image-input
                                   th:data-displayed-by="'imageToChange' + ${plantId}"
                                   th:data-errored-by="'plantPictureError' + ${plantId}" data-submit-if-valid>
                        </label>
                    </div>
                    <p th:id="'plantPictureError' + ${plantId}" class="text-danger fs-6 text-bold"
                       th:text="${plantToEditId == plantId ? plantPictureError : ''}"></p>
                    <input id="page" th:name="page" th:value="${page}" type="hidden"/>
                    <input id="weather" th:name="weatherListJson" th:value="${weatherListJson}" type="hidden"/>
                    <input id="plantId" th:name="plantId" th:value="${plantId}" type="hidden"/>
                </form>
            </div>
            <div th:if="${!isOwner}" class="d-flex flex-row gap-1">
                <div class="col-10">
                    <img th:src="@{${plantPicture == null ? '/images/default_plant.png' : '/files/plants/' + plantPicture}}"
                         alt="Plant" class="image-fluid rounded-circle w-100 h-100 object-fit-cover">
                </div>
                <div class="col-2">
                    <button th:if="${!isOwner}" type="button" class="btn p-0 rounded-3" data-bs-toggle="modal"
                            data-bs-target="#importPlantModal">
                        <img th:src="@{/images/smallImportPlant.png}" class="w-100 h-100 image-fluid rounded-3"
                             alt="Import plant to one of your gardens">
                    </button>
                </div>
            </div>
            <h4 class="card-title mt-1"
                th:text="${plantCount > 0} ? ${plantName} + ' (x' + ${plantCount} + ')' : ${plantName}"></h4>
            <div class="row">
                <p th:if="${plantDate == null}" class="plant-date"> Planted on: not specified </p>
                <p th:if="${plantDate != null}" th:text="${plantDate}" class="plant-date"> Name </p>
                <p th:text="${plantDescription}" class="plant-description"></p>
            </div>
        </div>
    </div>

</div>