<div th:fragment="weatherBox(weatherIcon, date, day, weatherDescription, minTemp, maxTemp, temp, precipitation, humidity, weatherError, today)"
     class="h-100">
    <div class="card h-100 bg-white border-0" th:classappend="${today} ? 'bg-opacity-50' : 'bg-opacity-25'" style="color: white">
        <div class="card-body d-flex flex-column pt-1">
            <div class="weather-date">
                <span th:if="${day != null}" th:text="${day}"></span>
                <span th:if="${date != null}" th:text="${date}"></span>
                <div class="error_chip" th:if="${weatherDescription == null}">
                    <span th:if="${weatherDescription == null}" class="weather_error_text" th:text="${weatherError}"></span>
                </div>
            </div>
            <div class="row flex-grow-1">
                <div class="col-6">
                    <img class="w-50" th:src="@{${weatherIcon == null ? '/images/not_found.png' : '/images/' + weatherIcon}}" alt="Weather Icon">
                </div>
                <div class="col-6 flex-grow-1">
                    <p class="card-text mb-auto">
                        <strong>
                            <span th:if="${temp != null}" th:text="${temp} + '°'"></span>
                        </strong>
                    </p>
                    <p class="card-text">
                        <strong>
                            <span th:if="${maxTemp != null}" th:text="${maxTemp} + '°'"></span>
                        </strong>
                    </p>
                    <p class="card-text">
                        <small>
                            <span th:if="${minTemp != null}" th:text="${minTemp} + '°'" class="weather-text"></span>
                        </small>
                    </p>
                </div>
            </div>
            <h5 class="card-title mt-auto" th:text="${weatherDescription}"></h5>
            <p th:if="${precipitation != null}" class="card-text text-end mt-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet-fill" viewBox="0 0 16 16">
                    <path d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6M6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13"/>
                </svg>
                <span th:text="${precipitation} + 'mm'"></span>
            </p>
        </div>
    </div>
</div>
