// Needs to be removed after gardensPage is re-engineered

body {
    background: #ccdf92;
    background: linear-gradient(#e2ffe4, #bdffc2) no-repeat;
    background-attachment: fixed;
}

.main-container {
    padding: 4mm;
    margin: auto;
    width: 1200px;
    background: white;
    align-content: center;
    box-shadow: 7px 7px;
}


.error {
    font-family: monospace;
    color: red;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 7.5px;
}

.noError {
    font-family: monospace;
    color: black;
    font-weight: normal;
}

.errorBorder {
    border-color: red;
}

.noErrorBorder {
    border-color: black;
}

.ui-button {
    display: block;
    width: 60px;
    height: 30px;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    border: black 1px solid;
    border-radius: 5px;
    color: black;
    background: lightgreen;
    font-family: "Verdana", sans-serif;

}

.ui-button-3x {
    display: block;
    width: 180px;
    height: 30px;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    border: black 1px solid;
    border-radius: 5px;
    color: black;
    background: lightgreen;
    font-family: "Verdana", sans-serif;

}

.ui-button :hover {

    background: green;
}

.user_button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.search-bar {
    margin: 10px;
    padding: 10px 20px;
    width: 80%;
    border-radius: 5px;
}

.search-form {
    display: flex;
    flex-direction: row;
}

.search-bar {
    margin: 10px;
    padding: 10px 20px;
    width: 80%;
    border-radius: 5px;
}


@media screen and (max-width: 1310px) {

    body {
        margin: .4vw;
        padding: .4vw;
    }

    .main-container {
        padding: 2mm;
        margin: auto;
        width: 95%;
        background: white;
        align-content: center;
        box-shadow: .58vw .58vw;
        font-family: "Verdana", sans-serif;
    }


}