.submit-button
{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Verdana", sans-serif;
    display: inline-block;
    margin-top: -4px;

}

.submit-button:hover{
    background-color: #18981e; /* Darker background color on hover */
    /* Alternate colour, blue background-color: #1978b9; /* Darker background color on hover */
}

.cancel-button:hover{
    background-color: #cc5965; /* Darker background color on hover */
}
.cancel-button
{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #eeeeee;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Verdana", sans-serif;
    display: inline-block;
    margin-top: -4px;
}

.form-description textarea
{
    width: 25vw;
    height: 5.5vw;
    resize: none; /* Disable resizing */
    overflow: auto; /* Enable scrollbars when content exceeds the size */
    border: 1px solid #ccc; /* Add a border for visual appeal */
    padding: 5px; /* Add some padding for better readability */
}

input[type=text] {
    width: 25vw;
    padding: 9px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    padding-bottom: 1.5vh;
}

label {
    text-align: left;
}

/* For location autocomplete */
#autocompleteSuggestions {
    position: absolute;
    z-index: 9999;
    width: 25vw; /* Adjust the width as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Initially hidden */
    margin-top: -0.7vh;
}

#autocompleteSuggestions li {
    padding: 8px 12px;
    border-top: 1px solid #f1f1f1;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

#autocompleteSuggestions li:hover {


    background-color: #d5f1f3;
    border-color: #d5f1f3;


    /*
    background-color: #b2e3e7;
    border-color: #b2e3e7;
    */
}

#autocompleteSuggestions.show {
    display: block; /* Show when 'show' class is added */
}

#noMatchingLocationMessage {
    display: none;
}

#noMatchingLocationMessage.show {
    display: block;
}

#rateLimitMessage {
    display: none;
}

#rateLimitMessage.show {
    display: block;
}