.scrollable-container {
    flex: 2;
    max-height: 100vh;
    width: 87vw;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 1rem;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: normal !important;
    margin: auto;
}

.plants-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.plant-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 calc(33.33%);
    box-sizing: border-box;
}

.plant-description {
    max-width: 15vw;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.plant-image {
    align-self: flex-start;
}

.edit-button-container {
    margin-top: 10px;
    gap: 0;
}

.break-word {
    word-wrap: break-word;
    white-space: normal;
}
