.tableList-header-button-contain {
    display: flex;
    gap: 0;
    margin-top: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    padding-bottom: 20px;
}

.content-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 20px;
}

.tableList-header {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scrollable-container {
    flex: 2;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    white-space: normal !important;

}

.plants-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.plant-box {
    flex: 1 1 calc(33.33%);
    box-sizing: border-box;
}

.plant-description {
    display: block;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.break-word {
    word-wrap: break-word;
    white-space: normal;
}

.edit-button-container {
    margin-top: 10px;
    gap: 0;
}
