/**
Stylises the homePage.html webpage
*/

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #306030;
}

.sub-container {
    margin-top: 20px;
    text-align: center;
}

.sub-container form {
    all: unset;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}