.gardenbox {
    padding: 10px;
    background-color: #4CAF50; /* Background color of the button */
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    word-break: break-word;
}

.gardenbox:hover {
    background-color: #45a049; /* Darker background color on hover */
}

.garden-details{
    text-decoration: none;
}

.garden-name {
    font-weight: bold;
    margin-bottom: 5px; /* Add margin between name and image */
}

.plantbox {
    padding: 10px;
    background-color: white;
    color: #0d3c00;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    display: flex; /* Use flexbox for layout */
}


.plant-info {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 10px; /* Add margin below the plant info */
}

.plant-name {
    font-weight: bold;
    margin-bottom: 5px; /* Add margin between name and image */
}

.plant-image {
    width: 100px; /* Set width of image */
    height: auto; /* Maintain aspect ratio */
    /*margin-bottom: 5px; !* Add margin between image and description *!*/
}

.plant-details {
    flex: 1; /* Take up remaining space */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Align items vertically */
    text-align: left;
    margin-left: 10px;
}

.plant-date {
    margin-top: 5px; /* Adjust margin as needed */
}
.plant-description {
    margin-top: 5px; /* Adjust margin as needed */
}


.edit-button-container {
    margin: 10px
}
