body {

    font-family: "Times New Roman", serif, bo;
    background-color: #ccdf92; /* Green background color */
    overflow: hidden; /* Prevent scrolling */
}
.container::before,
.container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    filter: blur(50px);
    z-index: -1;
}

.container::before {
    left: 0;
}

.container::after {
    right: 0;
}
.container {
    position: relative;
    text-align: left;
    color: white;
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

.image-container {
    position: relative;
    text-align: center;
}

.blur {
    filter: blur(5px);
    height: 100%;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    text-align: left;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background-color: rgba(100,255,150,0.5);
    padding: 20px;
}

h1 {
    font-style: italic;
    font-size: 48px;
    margin: 0;
}
h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 90px;
    margin: 0;
}

p {
    font-style: italic;
    font-size: 36px;
    margin-top: 5px;
}

@media screen and (max-width: 1200px) {
    .container {

        width: 100%;
    }

    .centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: left;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    h1 {
        font-style: italic;
        font-size: 4vw;
        margin: 0;
    }
    h2 {
        font-weight: bold;
        font-style: italic;
        font-size: 7.5vw;
        margin: 0;
    }

    p {
        font-style: italic;
        font-size: 3vw;
        margin-top: 5px;
    }

}