/* profile picture styling */
.profile_picture_container {
    position: relative;
    display: block;
    border-radius: 50%;
    transition: background-color 0.3s;
    border: 3px solid rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 200px;
}

.profile_picture_container img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile_picture_container input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
}

.profile_picture_container label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile_picture_container:hover label {
    background-color: rgba(0, 0, 0, 0.7);
}

.error-message {
    color: red;
}