.weather {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.weather-box {
    flex:1;
    border-bottom-style: solid;
    border-color: black;
    border-width: thin;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather-icon-container {

}

.weather-detail-icon {
    position: relative;
    display: block;
    border-radius: 50%;
    transition: background-color 0.3s;
    border: 3px solid rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 200px;

}

.weather-icon {
    position: relative;
    display: block;
    border-radius: 50%;
    transition: background-color 0.3s;
    border: 3px solid rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 200px;
}

.weather-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.weather-text {
    align-items: center;
}

.weather-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}