<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head th:replace="~{fragments/header.html}">-->
<head th:replace="~{fragments/header.html}"  th:with="loggedIn=${loggedIn}">
    <title>Konva Grid Demo</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<div id="container" class="justify-content-center"></div>
<button type="submit" class="btn btn-success submit-button" formnovalidate>Submit</button>

<script type="module" th:src="@{/js/2dPlantGrid.js}"></script>
</body>
</html>
