<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <title>My Gardens</title>
        <link th:href="@{/css/baseCss.css}" rel="stylesheet">
        <link th:href="@{/css/navBar.css}" rel="stylesheet">
        <link th:href="@{/css/gridTableList.css}" rel="stylesheet">
        <link th:href="@{/css/infoBox.css}" rel="stylesheet">
    </head>

    <body>
    <div th:replace="fragmentExample/fragments/navBar.html :: navBar('browsePublic')" th:with="loggedIn=${loggedIn}"></div>
        <div class = "main-container">
            <div class="tableList-header">
                <h1 class="tableList-header-title"> Public Gardens </h1>
                <span> Showing 1 - 10 of 18 Gardens (this is a lie) </span>
                <br>
            </div>
            <div class="tableList-table-contain">
                <div th:each="garden : ${publicGardens}">
                    <div th:replace="~{fragmentExample/fragments/gardenBox.html ::
                        gardenBox(gardenId=${garden.getGardenId},
                        gardenName=${garden.getGardenName},
                        gardenLocation=${garden.getGardenLocation},
                        gardenSize=${garden.getGardenSize},
                        numberOfPlants=${garden.getPlants?.size()})}">
                    </div>

                </div>
            </div>
        </div>
    </body>

</html>