<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Create new Garden</title>
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
    <link th:href="@{/css/baseCss.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragmentExample/fragments/navBar.html :: navBar('create')"></div>
<div class = main-container>
    <h1>Create New Garden</h1>
    <br>
    <div>
        <form th:action="@{create-new-garden}" method="post">
            <label for="gardenName"> Garden Name: </label>
            <br>
            <input type="text" class="form-control" th:class = "${GNErrorClass}" id="gardenName" placeholder="Username's Garden"
                   th:name="gardenName" th:value="${gardenName}" data-cy="gardenName" autofocus>

            <div th:if="${GNErrorText!=''}">
                <h3 class = "error" th:text="${GNErrorText}"></h3>
            </div>

            <label for="streetAddress"> Street Address: </label>
            <br>
            <input type="text" class="form-control" th:class="${AddressErrorClass}" id="streetAddress" placeholder="e.g. 20 Kirkwood Avenue (Optional) - Type here for autocomplete suggestions"
                   th:name="streetAddress" th:value="${streetAddress}" data-cy="streetAddress" autofocus>


            <div th:if="${AddressErrorText!=''}">
                <h3 class="error" th:text="${AddressErrorText}"></h3>
            </div>

            <label for="suburb"> Suburb: </label>
            <br>
            <input type="text" class="form-control" th:class="${SuburbErrorClass}" id="suburb" placeholder="e.g. Upper Riccarton (Optional)"
                   th:name="suburb" th:value="${suburb}" data-cy="suburb" autofocus>

            <div th:if="${SuburbErrorText!=''}">
                <h3 class="error" th:text="${SuburbErrorText}"></h3>
            </div>

            <label for="city"> City: </label>
            <br>
            <input type="text" class="form-control" th:class="${CityErrorClass}" id="city" placeholder="e.g. Christchurch (City is required)"
                   th:name="city" th:value="${city}" data-cy="city" autofocus>

            <div th:if="${CityErrorText!=''}">
                <h3 class="error" th:text="${CityErrorText}"></h3>
            </div>

            <label for="postcode"> Postcode: </label>
            <br>
            <input type="text" class="form-control" th:class="${PostCodeErrorClass}" id="postcode" placeholder="e.g. 8041 (Optional)"
                   th:name="postcode" th:value="${postcode}" data-cy="postcode" autofocus>

            <div th:if="${PostCodeErrorText!=''}">
                <h3 class="error" th:text="${PostCodeErrorText}"></h3>
            </div>

            <label for="country"> Country: </label>
            <br>
            <input type="text" class="form-control" th:class="${CountryErrorClass}" id="country" placeholder="e.g. New Zealand (Country is required)"
                   th:name="country" th:value="${country}" data-cy="country" autofocus>

            <div th:if="${CountryErrorText!=''}">
                <h3 class="error" th:text="${CountryErrorText}"></h3>
            </div>

            <label for="gardenSize"> Garden Size(m^2): </label>
            <br>
            <input type="text" class="form-control" th:class = "${GSErrorClass}" id="gardenSize" placeholder="7.5"
                   th:name="gardenSize" th:value="${gardenSize}" data-cy="gardenSize"
                   autofocus>
            <div th:if="${GSErrorText!=''}">
                <h3 class = "error" th:text="${GSErrorText}"></h3>
            </div>
            <br/>

            <input type="hidden" th:name="gardenLocation" id="gardenLocation" data-cy="gardenLocation">
            <input type="hidden" th:name="locationIqAccessToken" th:value="${locationIqAccessToken}" id="locationIqAccessToken" data-cy="gardenLocation">
            <button type="submit" class = "submit-button">Create</button>
            <button type="button" onclick="window.location.href = localStorage.getItem('previousUrl')" class="cancel-button" >Cancel</button>

        </form>
    </div>
</div>
<script src="/js/preventEnterSubmit.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.min.js"></script>
<script src="/js/locationIQAutocomplete.js"></script>
</body>
</html>