<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Create new Plant</title>
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
    <link th:href="@{/css/baseCss.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/plantPicturePicker.css}" rel="stylesheet">
    <script th:src="@{/js/imagePicker.js}"></script>
</head>
<body>
<div th:replace="fragmentExample/fragments/navBar.html :: navBar('gardens')" th:with="loggedIn=${loggedIn}"></div>
<div class="main-container">
    <h1>Create New Plant</h1>
    <br>
    <div>
        <form th:action="@{create-new-plant}" method="post" enctype="multipart/form-data">
            <!-- Some things are still named 'profile_picture', this is so I can reuse the existing css and js. -->
            <div class="plant_picture_container small_pic">
                <img id="imageToChange" th:src="@{${plantPicture}}" alt="Plant image">
                <label for="plantPictureInput">+</label>
                <input id="plantPictureInput" type="file" th:name="plantPictureInput" accept="image/*"
                    onChange="handleFileSelect(event)">
            </div>
            <span th:if="${plantPictureError}" class="error-message" th:text="${plantPictureError}"></span>
            <br>
            <label for="plantName"> Plant Name: </label>
            <br>
            <input type="text" class="form-control" th:class = "${PNErrorClass}" id="plantName" placeholder="Name of plant"
                   th:name="plantName" th:value="*{plantName}" data-cy="plantName" autofocus>

            <div th:if="${PNErrorText!=''}">
                <h3 class="error" th:text="${PNErrorText}"></h3>
            </div>

            <label for="plantCount"> Plant Count: </label>
            <br>
            <input type="text" class="form-control" th:class = "${PCErrorClass}" id="plantCount" placeholder="Number of plants"
                   th:name="plantCount" th:value="*{plantCount}" data-cy="plantCount" autofocus>

            <div th:if="${PCErrorText!=''}">
                <h3 class = "error" th:text="${PCErrorText}"></h3>
            </div>


            <label for="plantDescription"> Plant Description </label>
            <br>
            <div class="form-description" >
                <textarea class="form-control" th:class = "${PDErrorClass}" id="plantDescription" placeholder="Description"
                       th:name="plantDescription" th:text="*{plantDescription}" data-cy="plantDescription"
                       autofocus></textarea>
            </div>
            <div th:if="${PCErrorText!=''}">
                <h3 class = "error" th:text="${PDErrorText}"></h3>
            </div>

            <label for="plantDate"> Plant Date: </label>
            <br>
            <input type="date" class="form-control"  id="plantDate" placeholder=""
                   th:name="plantDate" th:value="*{plantDate}" data-cy="plantDate"
                   autofocus >

            <br/>
            <br>
            <button type="submit" class = "submit-button">Submit</button>
            <a th:href="@{/my-gardens/{gardenId}={gardenName}(gardenId=${gardenId}, gardenName=${gardenName})}">
                <button type="button" class="cancel-button" >Cancel</button>
            </a>
        </form>
    </div>
</div>
<script src="/js/preventEnterSubmit.js"></script>
</body>
</html>