<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/baseCss.css}" rel="stylesheet">
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
    <link th:href="@{/css/editProfileForm.css}" rel="stylesheet">
    <script th:src="@{/js/editProfileForm.js}"></script>
    <link th:href="@{/css/profilePicturePicker.css}" rel="stylesheet">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
    <script th:src="@{/js/profilePicturePicker.js}"></script>
</head>

<body th:onload="'hideLastNameOnLoad(' + ${noLastName} + ');'">
<div th:replace="fragmentExample/fragments/navBar.html :: navBar('home')" th:with="loggedIn=${loggedIn}"></div>
    <div class="container">
        <title>Edit Profile</title>
        <h1>Edit Profile Form</h1>
        <form th:action="@{/profile/edit}" method="post" enctype="multipart/form-data">

            <div class="profile_picture_container">
                <img id="profilePicture" th:src="@{${profilePicture}}" alt="User's profile picture">
                <label for="profilePictureInput">+</label>
                <input id="profilePictureInput" type="file" th:name="profilePictureInput" accept="image/*"
                    onChange="handleFileSelect(event)">
            </div>
            <span th:if="${profilePictureError}" class="error-message" th:text="${profilePictureError}"></span>
            

            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" th:name="firstName"
                th:value="*{firstName}" data-cy="firstName" autofocus>
            <span th:if="${firstNameError}" class="error-message" th:text="${firstNameError}"></span>

            <label for="lastName" id="lastNameLabel">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:name="lastName"
                th:value="*{lastName}" data-cy="lastName">
            <span th:if="${lastNameError}" class="error-message" th:text="${lastNameError}"></span>

            <label for="noLastName">I have no Surname</label>
            <input type="checkbox" id="noLastName" name="noLastName" th:value="true" th:checked="${noLastName}"
                onchange="hideLastName(event)">


            <label for="dateOfBirth">Date of Birth (Optional)</label>
            <input type="date" class="form-control"  id="dateOfBirth" placeholder=""
                   th:name="dateOfBirth" th:value="*{dateOfBirth}" data-cy="dateOfBirth"
                   autofocus >
            <span th:if="${dateOfBirthError}" class="error-message" th:text="${dateOfBirthError}"></span>

            <label for="emailAddress">Email Address</label>
            <input type="text" class="form-control" id="emailAddress" placeholder="johndoe@gmail.com"
                th:name="emailAddress" th:value="*{emailAddress}" data-cy="emailAddress" required autofocus>
            <span th:if="${emailAddressError}" class="error-message" th:text="${emailAddressError}"></span>

            <div class="buttons">
                <button type="submit" formnovalidate>Submit</button>
                <a th:href="@{/profile}"><button type="button">Cancel</button></a>
            </div>
        </form>
    </div>
</body>

</html>