<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8" />
    <title>Edit Password</title>
    <link th:href="@{/css/baseCss.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/css/bootStrap.css}" rel="stylesheet">
    <link th:href="@{/css/editProfileForm.css}" rel="stylesheet">
    <script th:src="@{/js/editProfileForm.js}"></script>

</head>

<body>
<div th:replace="fragments/navBar.html :: navBar('home')" th:with="loggedIn=${loggedIn}"></div>
    <div class="container">
        <h1>Edit Profile Form</h1>
        <form th:action="@{/profile/editPassword}" method="post" enctype="multipart/form-data">

            <label for="currentPassword"> Old Password: </label>
            <input type="password" class="form-control" id="currentPassword" placeholder=""
                   th:name="currentPassword" th:value="${currentPassword}" data-cy="password" required autofocus>
            <div th:if="${currentPasswordError}" class="error-message">
                <span th:text="${currentPasswordError}"></span>
            </div>

            <label for="newPassword"> New Password: </label>
            <input type="password" class="form-control" id="newPassword" placeholder=""
                   th:name="newPassword" th:value="${newPassword}"data-cy="password" required autofocus>
            <div th:if="${passwordError}" class="error-message">
                <span th:text="${passwordError}"></span>
            </div>

            <label for="retypePassword"> Retype Password: </label>
            <input type="password" class="form-control" id="retypePassword" placeholder=""
                   th:name="retypePassword" th:value="${retypePassword}" data-cy="password" required autofocus>
            <div th:if="${passwordMatchingError}" class="error-message">
                <span th:text="${passwordMatchingError}"></span>
            </div>

            <div class="buttons">
                <button type="submit" formnovalidate>Submit</button>
                <a th:href="@{/profile}"><button type="button">Cancel</button></a>
            </div>
        </form>
    </div>
<script th:src="@{/js/preventEnterSubmit.js}"></script>
<script th:src="@{/js/inputCharacterLimit.js}"></script>
</body>

</html>