<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8"/>
    <title>Edit Profile Form</title>
    <link th:href="@{/css/editFormStyle.css}" rel="stylesheet">
    <script th:src="@{/js/editForm.js}"></script>
</head>
<body th:onload="'hideLastNameOnLoad(' + ${noLastName} + ');'">
<h1>Edit Profile Form</h1>
<div>
    <form th:action="@{edit}" method="post">
        <label for="firstName"> First Name: </label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name"
               th:name="firstName" th:value="*{firstName}" data-cy="firstName" required autofocus>
        <div th:if="${firstNameError}" class="error-message">
            <span th:text="${firstNameError}"></span>
        </div>
        <br/>
        <label for="lastName" id="lastNameLabel"> Last Name: </label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name"
               th:name="lastName" th:value="*{lastName}" data-cy="lastName"  autofocus>
        <input type="checkbox" id="noLastName" name="noLastName" th:value="true" th:checked="${noLastName}" onchange="hideLastName(event)">
        <label for="noLastName"> I have no Surname.</label>
        <div th:if="${lastNameError}" class="error-message">
            <span th:text="${lastNameError}"></span>
        </div>
        <br/>
        <label for="dateOfBirth"> Date of Birth (Optional): </label>
        <input type="text" class="form-control" id="dateOfBirth" placeholder="DD/MM/YYYY"
               th:name="dateOfBirth" th:value="*{dateOfBirth}" data-cy="dateOfBirth" required autofocus>
        <div th:if="${dateOfBirthError}" class="error-message">
            <span th:text="${dateOfBirthError}"></span>
        </div>
        <br/>
        <label for="emailAddress"> Email Address: </label>
        <input type="text" class="form-control" id="emailAddress" placeholder="johndoe@gmail.com"
               th:name="emailAddress" th:value="*{emailAddress}" data-cy="emailAddress" required autofocus>
        <div th:if="${emailAddressError}" class="error-message">
            <span th:text="${emailAddressError}"></span>
        </div>
        <br/>
        <button type="submit" formnovalidate >Submit!</button>
    </form>
    <a th:href = "@{/profile}" class = "button">Cancel :(</a>
</div>

</body>
</html>