<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/header.html}"></head>

<body style="height: 100vh">
    <div th:replace="~{fragments/navBar.html :: navBar('gardens')}" th:with="loggedIn=${loggedIn}"></div>

    <div class="d-flex h-100">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark align-items-center"
            style="width: 20vw; max-height: 90vh; overflow-y: auto;">
            <span class="fs-4">Palette Window</span>
            <hr>

            <div class="container">

                <div class="row mb-4">
                    <div class="d-flex flex-row justify-content-center">
                        <button type="submit" id="saveGarden" class="btn bg-success text-white mb-2"
                            form="saveGardenForm">
                            Save Garden
                        </button>
                        <button id="openClearModalButton" type="button" class="btn bg-warning text-white mb-2"
                            data-bs-toggle="modal" data-bs-target="#confirmClearModal">Clear All</button>
                    </div>

                    <div class="modal fade text-black" id="confirmClearModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Are you sure you want to clear all?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <form id="clearAllForm" th:action="@{/2D-garden/__${garden.getGardenId()}__/clear}"
                                    method="post" autocomplete="off">
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <button id="confirmClearAll" type="submit" class="btn btn-warning"
                                            data-bs-dismiss="modal">Yes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 g-2 p-3 text-left" th:each="plant : ${plants}">
                        <div class="w-100" name="plant-item" th:data-plant-name="${plant.getPlantName()}"
                            th:data-plant-category="${plant.getPlantCategory()}"
                            th:data-plant-count="${plant.getPlantCount()}" th:data-plant-id="${plant.getPlantId()}"
                            th:data-plant-image="${plant.getPlantPictureFilename() == null ? '/images/default_plant.png' : '/files/users/' + plant.getPlantPictureFilename()}">
                            <img th:src="@{${plant.getPlantPictureFilename() == null ? '/images/default_plant.png' : '/files/users/' + plant.getPlantPictureFilename()}}"
                                alt="Plant" class="img-fluid rounded-circle w-100 h-100 object-fit-cover"
                                style="max-width: 100px;" draggable="false">
                            <a id="total" class="d-block break-word text-white mt-2"
                                th:text="${plant.getPlantCount() > 0} ? ${plant.getPlantName()} + ' (x' + ${plant.getPlantCount()} + ')' : ${plant.getPlantName()}"></a>
                            <p id="placed" class="d-block break-word mt-0 mb-0 text-white"> </p>
                            <p id="remaining" class="d-block break-word mt-0 mb-0 text-white"> </p>
                        </div>
                    </div>

                    <div th:each="displayableItem : ${displayableItemsList}">
                        <div class="grid-item-location" th:data-grid-x="${displayableItem.getXCoordinate()}"
                            th:data-grid-y="${displayableItem.getYCoordinate()}"
                            th:data-grid-name="${displayableItem.getName()}"
                            th:data-grid-category="${displayableItem.getCategory()}"
                            th:data-grid-objectid="${displayableItem.getObjectId()}"
                            th:data-grid-image="${plantsById[displayableItem.getObjectId()].getPlantPictureFilename() == null ? '/images/default_plant.png' : '/files/users/' + plantsById[displayableItem.getObjectId()].getPlantPictureFilename()}">
                        </div>
                    </div>


                </div>
            </div>
            <form th:action="@{/2D-garden/__${garden.getGardenId()}__/save}" id="saveGardenForm" method="post">
                <input type="hidden" id="idList" name="idList" th:value="''" />
                <input type="hidden" id="xCoordList" name="xCoordList" th:value="''" />
                <input type="hidden" id="yCoordList" name="yCoordList" th:value="''" />
            </form>

            <div class="mt-auto">
                <div th:replace="~{fragments/plant2DPaginationNav.html}" th:with="gardenId=${garden.getGardenId()}, currentPage=${currentPage},
                              startIndex=${startIndex}, endIndex=${endIndex}, lastPage=${lastPage}">
                </div>
                <hr>
                <a th:href="@{/my-gardens/__${garden.getGardenId()}__}"
                    class="btn btn-secondary text-white d-block mx-auto">Cancel</a>

                <div class="d-flex flex-row flex-wrap justify-content-center mt-2 mb-1 gap-1">
                </div>

                <a th:href="@{/3D-garden/__${garden.getGardenId()}__}" class="btn btn-success d-block mx-auto">View in
                    3D</a>
            </div>
        </div>
        <div class="d-flex flex-column flex-grow-1 overflow-hidden">
            <div class="bg-white p-2 text-center">
                <h1 class="break-word" id="title-2D-Grid" th:text="'2D View for ' + ${garden.getGardenName()}">Garden
                    Name</h1>
            </div>
            <div id="container" class="flex-grow-1 overflow-auto"></div>
            <div class="dropdown position-absolute end-0 m-3">
                <button class="btn btn-success dropdown-toggle" id="export-dropdown" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Export Layout
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item" id="download-jpeg">JPEG</button>
                    </li>
                    <li>
                        <button class="dropdown-item" id="download-jpg">JPG</button>
                    </li>
                    <li>
                        <button class="dropdown-item" id="download-png">PNG</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="error-message" class="alert alert-warning py-2 px-3 m-2 position-fixed bottom-0 end-0 d-none font-bold"
        role="alert"></div>
    <input id="gardenName" type="hidden" th:value="${garden.getGardenName()}">
    <script type="module" th:src="@{/js/2dPlantGrid.js}"></script>
</body>

</html>