<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html"></head>

<body>
    <div th:replace="~{fragments/navBar.html :: navBar('gardens')}" th:with="loggedIn=${loggedIn}"></div>
    <div class="main-container">
        <div class="content-container">
            <div class="tableList-header">
                <h1 class="tableList-header-title" th:text="${gardenName}"> Name </h1>
                <p th:text="${gardenDescription}" />
                <p class="break-word" th:text="'Garden Location: ' + ${gardenLocation}"> Address </p>
                <p th:if="${#strings.equals(gardenSize, 0.0)}"> Garden size: not specified </p>
                <p th:if="${not #strings.equals(gardenSize, 0.0)}"
                    th:text="'Garden Size: ' + ${gardenSize} + ' m&sup2'"> Name </p>
                <div class="tableList-table-count">
                    <br>
                    <span th:text="'This garden has: ' + ${totalPlants} + ' Plants'"> # Plants </span>
                </div>
                <div th:if="${isOwner}" class="tableList-header-button-contain">
                    <a th:href="@{__${gardenId}__/edit}">
                        <button class="rounded-button-top-right">Edit</button>
                    </a>
                    <div class="checkbox_container" th:if="${isOwner}">
                        <form th:action="@{/my-gardens/__${gardenId}__/public}" method="post"
                            enctype="multipart/form-data">
                            <input type="checkbox" id="makeGardenPublic" name="makeGardenPublic"
                                th:checked="${makeGardenPublic}" onChange="this.form.submit()">Make my garden public
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="weather">
                <div th:each="prediction : ${weather}">
                    <div th:replace="~{fragments/weatherBox.html :: weatherBox(
                    weatherIcon=${prediction.getWeatherIcon()},
                    date=${prediction.getDate()},
                    day=${prediction.getDay()},
                    weatherDescription=${prediction.getDescription()},
                    minTemp=${prediction.getMinTemp()},
                    maxTemp=${prediction.getMaxTemp()},
                    temp=${prediction.getTemp()},
                    precipitation=${prediction.getPrecipitation()},
                    humidity=${prediction.getHumidity()},
                    weatherError=${prediction.getWeatherError()})}">
                    </div>
                </div>
            </div>
        </div>
        <div class="attribution">
            <a href="https://open-meteo.com/">Weather data by Open-Meteo.com</a>
        </div>
        <div class="watering" th:if="${message}" id="messageBox">
            <p th:text="${message}"></p>
            <span class="close" onclick="closeMessageBox()">×</span>
        </div>
        <input type="hidden" id="gardenId" th:value="${gardenId}" />
        <div class="scrollable-container">
            <div class="tableList-table-count">
                <span th:text="${totalPlants} + ' Plants'"> # Plants </span>
                <a th:if="${isOwner}" th:href="@{__${gardenId}__/create-new-plant}">
                    <button class="rounded-button">Create New Plant</button>
                </a>
            </div>
            <div class="plants-grid">
                <div th:each="plant : ${plants}" class="plant-box">
                    <div th:replace="~{fragments/plantBox.html :: plantBox(
                    plantId=${plant.getPlantId()},
                    plantName=${plant.getPlantName()},
                    plantCount=${plant.getPlantCount()},
                    plantDescription=${plant.getPlantDescription()},
                    plantDate=${plant.getFormattedPlantDate()},
                    plantPicture=${plant.getPlantPictureFilename()},
                    isOwner=${isOwner})}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>