<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/header.html :: head (include3js=true)}"></head>

<body class="vw-100 vh-100">

    <div th:replace="~{fragments/navBar.html :: navBar('gardens')}" th:with="loggedIn=${loggedIn}"></div>
    <div class="d-flex flex-row flex-wrap justify-content-center mt-2 mb-1 gap-1"></div>
    <div class="container-md bg-white rounded p-1">
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center gap-2">

            <a th:if="${isOwner}" th:href="@{/my-gardens/__${garden.getGardenId()}__}">
                <button type="button" class="btn btn-outline-success">Garden Details</button>
            </a>

            <a th:if="${!isOwner}" th:href="@{/public-gardens/__${garden.getGardenId()}__}">
                <button type="button" class="btn btn-outline-success">Garden Details</button>
            </a>

            <div class="text-center mx-3">
                <h1 class="h5 text-break" th:text="${garden.getGardenName() + ' 3D view'}">Garden Name 3D View</h1>
            </div>

            <a th:if="${isOwner}" th:href="@{/2D-garden/__${garden.getGardenId()}__}">
                <button type="button" class="btn btn-outline-success">Edit in 2D</button>
            </a>
        </div>
    </div>

    <div class="d-flex flex-row flex-wrap justify-content-center mt-2 mb-1 gap-1">
    </div>

    <div class="w-100 h-75 position-relative">

        <div class="dropdown position-absolute top-0 end-0 m-3">
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Export Layout
            </button>
            <ul class="dropdown-menu">
                <li>
                    <button class="dropdown-item" id="download-gltf">GLTF</button>
                </li>
                <li>
                    <button class="dropdown-item" id="download-jpg">JPEG</button>
                </li>
                <li>
                    <button class="dropdown-item" id="download-obj">OBJ</button>
                </li>
            </ul>
        </div>

        <div class="position-absolute top-0 start-0 m-3">
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#settings"
                aria-expanded="false" aria-controls="settings">
                Settings </button>
            <div class="collapse" id="settings">
                <div class="card card-body">
                    <div class="form-check form-switch unHighlightable">
                        <input class="form-check-input" type="checkbox" role="switch" id="toggleBackground"
                               aria-checked="true">
                        <label class="form-check-label" for="toggleBackground">Show Background</label>
                    </div>
                    <div class="form-check form-switch unHighlightable">
                        <input class="form-check-input" type="checkbox" role="switch" id="trackTime" checked
                            aria-checked="true">
                        <label class="form-check-label" for="trackTime">Show Current Time</label>
                    </div>
                    <div class="form-check form-switch unHighlightable">
                        <input class="form-check-input" type="checkbox" role="switch" id="trackWeather" checked
                            aria-checked="true">
                        <label class="form-check-label" for="trackWeather">Show Current Weather</label>
                    </div>
                    <div th:if ="${weather=='Rainy'}">
                        <label for="rainDropSize" class="form-label">Rain Drop Size</label>
                        <input type="range" class="form-range" min="0.1" max="0.5" step="0.1" id="rainDropSize">
                    </div>
                </div>
            </div>
        </div>

        <div id="loading-div"
            class="position-absolute w-100 h-100 bg-success d-flex align-items-center justify-content-center">
            <img id="loading-img" th:src="@{/images/loading.gif}" alt="Loading">
        </div>

        <div class="w-100 h-100" id="container"></div>
    </div>

    <footer class="text-center mt-4">
        <ul class="list-unstyled">
            <li>
                <a href="https://sketchfab.com/3d-models/garden-lattice-pack-wood-2b448f42a86f4bd28915c777c06abcb9"
                    target="_blank">
                    Garden Lattice Pack Wood by Antipode
                </a>
                - Downloaded from Sketchfab
            </li>
            <li>
                <a href="https://sketchfab.com/3d-models/ivy-high-poly-f10e66e2e77a4dda9a7147cd89f2082b"
                    target="_blank">
                    Ivy (High Poly) by VROD
                </a>
                - Downloaded from Sketchfab
            </li>
            <li>
                <a href="https://sketchfab.com/3d-models/green-creeper-plant-f1005205b134402db0a1c986b15c803d"
                    target="_blank">
                    Green Creeper Plant by Tsukari
                </a>
                - Downloaded from Sketchfab
            </li>
            <li>
                <a href="https://sketchfab.com/3d-models/fountain-300ff8f626fe44e2a9dafc665cea81c5" target="_blank">
                    Fountain by Andrii Kryshtop
                </a>
                - Downloaded from Sketchfab
            </li>
            <li>
                <a href="https://sketchfab.com/3d-models/the-sun-8f31ed4194e34f91bdacbd85dfc5fb39" target="_blank">
                    Sun by tamminen
                </a>
                - Downloaded from Sketchfab
            </li>
        </ul>
    </footer>

    <input id="gardenId" type="hidden" th:value="${garden.getGardenId()}">
    <input id="gardenName" type="hidden" th:value="${garden.getGardenName()}">
    <input id="currentHour" type="hidden" th:value="${currentHour}">
    <input id="weather" type="hidden" th:value="${weather}"></input>
    <script type="module" th:src="@{/js/3d/3dMain.js}"></script>
</body>

</html>