<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>>Gardener's Grove</title>
    <link th:href="@{/css/baseCss.css}" rel="stylesheet">
    <link th:href="@{/css/tableList.css}" rel="stylesheet">
    <link th:href="@{/css/infoBox.css}" rel="stylesheet">
    <link th:href="@{/css/plantPicturePicker.css}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</head>

<body>
    <div th:replace="~{/fragments/navBar.html :: navBar('gardens')}" th:with="loggedIn=${loggedIn}"></div>
    <div class="main-container">
        <div class="tableList-header">
            <h1 class="tableList-header-title" th:text="${friendName} + '\'s Gardens'"> </h1>
            <span th:text="'Public Gardens: 0 | Private Gardens: ' + ${friendGardens?.size() ?: 0}"> Private Gardens: 0
            </span>
            <br>
        </div>
        <br>
        <div class="tableList-table-contain">
            <div class="tableList-table-count">
                <br>
                <span th:text="${friendGardens?.size() ?: 0} + ' Gardens'"> </span>
            </div>
            <div th:each="garden : ${friendGardens}">
                <div th:replace="~{/fragments/friendsGardenBox.html ::
                        gardenBox(gardenId=${garden.getGardenId},
                        gardenName=${garden.getGardenName},
                        gardenLocation=${garden.getGardenLocation},
                        gardenSize=${garden.getGardenSize},
                        numberOfPlants=${garden.getPlants?.size()},
                        gardenIsPublic=${garden.getIsPublic()})}">
                </div>

            </div>
        </div>
    </div>
</body>

</html>