<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gardener's Grove Home Page</title>
    <link th:href="@{/css/baseCss.css}" rel="stylesheet">
    <link th:href="@{/css/homePage.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/profilePicturePicker.css}" rel="stylesheet">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
</head>

<body>
<div th:replace="fragmentExample/fragments/navBar.html :: navBar('home')" th:with="loggedIn=${loggedIn}"></div>
    <div class="container">
        <h2>Gardener's Grove</h2>

        <img th:src="@{/images/Garden.webp}" alt="Garden">

        <div th:if="${loggedIn}" class="profile_info">
            <div class="profile_picture_container small_pic">
                <img id="profilePicture" th:src="@{${profilePicture}}" alt="User's profile picture">
            </div>

            <p th:text="${username}"></p>
        </div>

        <div class="buttons">
            <a th:if="${!loggedIn}" th:href="@{register}"><button class="user_button">Register</button></a>

            <a th:if="${!loggedIn}" th:href="@{login}"><button class="user_button">Sign In</button></a>

            <a th:if="${loggedIn}" th:href="@{profile}"><button class="user_button">View Profile</button></a>

            <form th:if="${loggedIn}" th:action="@{/logout}" method="post">
                <button type="submit" class="user_button">Logout</button>
            </form>
        </div>
    </div>
</body>

</html>