<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header.html}"></head>

<body>
<div th:replace="~{fragments/navBar.html :: navBar('register')}" th:with="loggedIn=${loggedIn}"></div>
<div id="homeImage" class="d-flex align-items-center justify-content-center position-fixed w-100 h-100"
     th:style="|background-image: url('@{/images/landingPlant.JPG}');|"></div>
<div class="container-md my-5 bg-white rounded py-5 w-50">
    <div class="row justify-content-center">
        <div class="text-center py-5">
            <h1>Import Plant</h1>
        </div>
        <div class="col-6">

            <form th:action="@{edit}" method="get" enctype="multipart/form-data"
                  class="border rounded-3 p-3 bg-white submit-form-once">

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
                    <div class="col" th:each="plant : ${garden.getPlants()}">
                        <div th:replace="~{fragments/plantBox.html :: plantBox(
                    plantId=${plant.getPlantId()},
                    plantName=${plant.getPlantName()},
                    plantCount=${plant.getPlantCount()},
                    plantDescription=${plant.getPlantDescription()},
                    plantDate=${plant.getFormattedPlantDate()},
                    plantPicture=${plant.getPlantPictureFilename()},
                    isOwner=${isOwner},
                    page=${currentPage},
                    weatherListJson=${weatherListJson})}">
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row flex-wrap justify-content-center gap-3">
                    <button type="submit" class="btn btn-success submit-button" formnovalidate>Cancel</button>
                    <a th:href="@{/my-gardens/{gardenId}(gardenId=${gardenId})}">
                        <button type="button" class="btn btn-secondary">Cancel</button>
                    </a>
                </div>
            </form>
        </div>

    </div>
</div>
<script th:src="@{/js/descriptionCounter.js}"></script>
<script th:src="@{/js/preventEnterSubmit.js}"></script>
<script th:src="@{/js/imagePicker.js}"></script>
<script th:src="@{/js/inputCharacterLimit.js}"></script>
<script th:src="@{/js/formatNumber.js}"></script>
<script th:src="@{/js/submitFormOnce.js}"></script>
</body>

</html>