<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html"></head>

<body>
    <div th:replace="fragments/navBar.html :: navBar('login')" th:with="loggedIn=${loggedIn}"></div>
    <div class="container-lg my-5">

        <div class="text-center">
            <h1>Login</h1>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-lg-3 p-3">
                <form th:action="@{/login}" method="post" class="border rounded-3 p-3">

                    <div class="mb-3">
                        <label for="emailAddress" class="form-label">Email Address *</label>
                        <input id="emailAddress" type="text" class="form-control" th:name="emailAddress" th:value="*{emailAddress}"
                            autofocus>
                        <p th:if="${emailAddressError}" class="text-danger fs-6" th:text="${emailAddressError}"></p>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password *</label>
                        <input id="password" type="password" class="form-control" th:name="password" th:value="*{password}">
                        <p th:if="${loginError}" class="text-danger fs-6" th:text="${loginError}"></p>
                    </div>

                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary" formnovalidate>Sign In</button>
                        <a th:href="@{/home}">
                            <button type="button" class="btn btn-secondary">Cancel :(</button>
                        </a>
                    </div>

                    <p th:if="${message}" class="text-warning fs-6 mb-3" th:text="${message}"></p>

                    <div class="text-center d-flex flex-column">
                        <a th:href="@{/register}">Not registered? Create an account</a>
                        <a th:href="@{/lost-password}">Forgot your Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/preventEnterSubmit.js}"></script>
    <script th:src="@{/js/inputCharacterLimit.js}"></script>
</body>

</html>