<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/loginPage.css}" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body>
<div class="form-container">
    <form action="#" th:action="@{/lost-password}" method="post">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <button type="submit">Submit</button>
    </form>
    <div th:if="${message}" th:text="${message}"></div>
</div>
</body>
</html>