<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
    <link th:href="@{/css/baseCss.css}" rel="stylesheet">
    <link th:href="@{/css/resetPassword.css}" rel="stylesheet">
    <title>Lost Password</title>
</head>
<body>
<div th:replace="fragmentExample/fragments/navBar.html :: navBar('create')" th:with="loggedIn=${loggedIn}"></div>
<div class="form-container">
    <form action="#" th:action="@{/lost-password}" method="post">
        <h1>Lost Password Form</h1>
        <div>
        <label for="email">Please enter your email below:</label><br>
        <input type="text" id="email" th:name="email" th:value="${email}"><br>
        <p th:if="${emailError}" class="error-message" th:text="${emailError}"></p>
        <p th:if="${message}" th:text="${message}"></p>
        </div>
        <button type="submit" class="user_button" formnovalidate>Submit</button>
    </form>
</div>
<script th:src="@{/js/preventEnterSubmit.js}"></script>
</body>
</html>