<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html"></head>

<body>
    <div th:replace="~{fragments/navBar.html :: navBar('home')}" th:with="loggedIn=${loggedIn}"></div>
    <div id="homeImage" class="d-flex align-items-center justify-content-center"
         th:style="|background-image: url('@{/images/landingPlant.JPG}'); color:white;|"></div>
    <div class="container-md row gap-0 mx-auto mt-4 text-white">
        <div class="col-2">
            <div class="ratio ratio-1x1 mt-3 mb-3 ms-auto">
                <img id="profilePicture" th:if="${loggedIn}" class="rounded-circle object-fit-cover w-100 h-100"
                     th:src="@{${profilePicture == null ? '/images/default_profile_picture.png' : '/files/users/' + profilePicture}}"
                     alt="User's profile picture">
            </div>
        </div>
        <div class="col-6">
            <h2 class="display-4">Welcome back,</h2>
            <h2 class="display-4 overflow-text">
                <b th:text="${username}"></b>,
            </h2>
            <h2 class="display-4">to Gardener's Grove</h2>
            <p class="lead">Your gardens await!</p>
            <hr>
            <p>Need some inspiration for your Garden? Or have some new plants?</p>
            <div class="d-flex flex-row flex-wrap gap-3 mb-3">
                <a th:href="@{public-gardens}">
                    <button class="btn btn-success btn-lg">Find Gardens</button>
                </a>
                <a th:href="@{my-gardens}">
                    <button class="btn btn-success btn-lg">Your Gardens</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid my-2 bg-white rounded py-2">
        <div id="carouselRecentGardens" class="carousel slide">
            <div class="carousel-inner mx-auto" style="width: 90%">
                <div class="col">
                    <h2>Recent Gardens</h2>
                </div>
                <div th:if="${recentGardensPage1}" class="carousel-item active">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-2">
                        <div class="col-3" th:each="garden : ${recentGardensPage1}">
                            <div th:replace="~{fragments/recentGardensCard.html ::
                                recentGardensCard(gardenId=${garden.gardenId},
                                gardenName=${garden.gardenName},
                                gardenLocation=${garden.gardenLocation},
                                gardenSize=${garden.gardenSize},
                                plantImage1=${garden.plantImageURLs.size() > 0 ? garden.plantImageURLs[0] : null},
                                plantImage2=${garden.plantImageURLs.size() > 1 ? garden.plantImageURLs[1] : null},
                                plantImage3=${garden.plantImageURLs.size() > 2 ? garden.plantImageURLs[2] : null},
                                numberOfPlants=${garden.plantCount},
                                ownerImage=${garden.ownerImageURL},
                                ownerName=${garden.ownerName})}">
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${recentGardensPage2}" class="carousel-item">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-2">
                        <div class="col-3" th:each="garden : ${recentGardensPage2}">
                            <div th:replace="~{fragments/recentGardensCard.html ::
                                recentGardensCard(gardenId=${garden.gardenId},
                                gardenName=${garden.gardenName},
                                gardenLocation=${garden.gardenLocation},
                                gardenSize=${garden.gardenSize},
                                plantImage1=${garden.plantImageURLs.size() > 0 ? garden.plantImageURLs[0] : null},
                                plantImage2=${garden.plantImageURLs.size() > 1 ? garden.plantImageURLs[1] : null},
                                plantImage3=${garden.plantImageURLs.size() > 2 ? garden.plantImageURLs[2] : null},
                                numberOfPlants=${garden.plantCount},
                                ownerImage=${garden.ownerImageURL},
                                ownerName=${garden.ownerName})}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button th:if="${recentGardensPage2}" class="carousel-control-prev bg-black bg-opacity-75 rounded-circle my-auto p-2"
                    type="button" data-bs-target="#carouselRecentGardens" data-bs-slide="prev"
                    style="height: 75px; width: 75px"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true">
                    <span class="visually-hidden">Previous</span>
                </span>
            </button>
            <button th:if="${recentGardensPage2}" class="carousel-control-next bg-black bg-opacity-75 rounded-circle my-auto p-2"
                    type="button" data-bs-target="#carouselRecentGardens" data-bs-slide="next"
                    style="height: 75px; width: 75px"
            >
                <span class="carousel-control-next-icon" aria-hidden="true">
                  <span class="visually-hidden">Next</span>
                </span>
            </button>
        </div>
    </div>
</body>

</html>