<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Manage Friends</title>
    <link th:href="@{/css/baseCss.css}" rel="stylesheet">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
    <link th:href="@{/css/tableList.css}" rel="stylesheet">
    <link th:href="@{/css/infoBox.css}" rel="stylesheet">
    <link th:href="@{/css/friendBox.css}" rel="stylesheet">
</head>

<body>
<div th:replace="fragmentExample/fragments/navBar.html :: navBar('gardens')" th:with="loggedIn=${loggedIn}"></div>
<div class="main-container">
    <div class="tableList-header">
        <h1 class="tableList-header-title"> Manage Friends </h1>
    </div>
    <br>
    <div class="tableList-table-contain">
        <div class="buttons">
            <button class="user_button" id="addFriendButton"> Add Friend</button>
            <div id="searchBarContainer" style="display: none;">
                <form th:action="@{/manage-friends/search}" method="get">
                    <input type="text" name="searchInput" class="search-bar" id="friendSearchBar" placeholder="Search"/>
                    <button type="submit" class="user_button">Search</button>
                </form>
            </div>
        </div>
        <div th:if="${SearchErrorText!=''}">
            <h3 class="error" th:text="${SearchErrorText}"></h3>
        </div>
        <div th:each="friend : ${userFriends}">
            <div th:replace="~{fragmentExample/fragments/friendsBox ::
                 friendsBox(friendsProfilePicture=${friend.getFriendProfilePicture},
                 friendsName=${friend.getFriendName},
                 friendsGardenLink=${friend.getFriendGardenLink},
                 friendshipStatus=${friend.getFriendRequestStatusString()},
                 isPotentialFriend=${isPotentialFriend != null ? isPotentialFriend : false},
                 friendId=${friend.getFriendId()})}">
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/manageFriendsPage.js}"></script>
</body>
</html>