<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header.html"></head>

<body>
    <div th:replace="fragments/navBar.html :: navBar('gardens')" th:with="loggedIn=${loggedIn}"></div>
    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col">
                <h1 class="mb-3">Your Gardens</h1>
                <div th:replace="~{fragments/paginationPageOverview.html}"
                     th:with="totalGardens=${totalGardens}, startIndex=${startIndex}, endIndex=${endIndex}">
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
            <div class="col" th:each="garden : ${myGardens}">
                <div th:replace="~{fragments/gardenBox.html ::
                        gardenBox(gardenId=${garden.gardenId},
                        gardenName=${garden.gardenName},
                        gardenLocation=${garden.gardenLocation},
                        gardenSize=${garden.gardenSize},
                        gardenDescription=${garden.gardenDescription},
                        isPublic=${garden.isPublic},
                        plantImage1=${garden.plants.size() > 0 ? garden.plants[0].plantPictureFilename : null},
                        plantImage2=${garden.plants.size() > 1 ? garden.plants[1].plantPictureFilename : null},
                        plantImage3=${garden.plants.size() > 2 ? garden.plants[2].plantPictureFilename : null},
                        numberOfPlants=${garden.plants?.size()})}">
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div th:replace="~{fragments/gardenPaginationNav.html}"
                     th:with="currentPage=${currentPage}, totalGardens=${totalGardens}, startIndex=${startIndex}, endIndex=${endIndex}, lastPage=${lastPage}">
                </div>
            </div>
        </div>
    </div>
</body>

</html>