<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/header.html}"></head>

<body>
    <div th:replace="~{fragments/navBar.html :: navBar('browsePublic')}" th:with="loggedIn=${loggedIn}"></div>
    <div id="homeImage" class="d-flex align-items-center justify-content-center position-fixed w-100 h-100"
         th:style="|background-image: url('@{/images/landingPlant.JPG}');|"></div>
    <div class="container mt-5 bg-white border rounded pt-4">
        <div class="row mb-4" >
            <div class="col">
                <h1 class="mb-3" th:text="${plant.commonName} + ' Details'"></h1>
            </div>
        </div>
        <div class="row mb-4">

            <div class="row mb-4">
                <p th:text="${plant.commonName}"></p>
                <img class="w-50" th:src="${plant.defaultImage}" alt="Image not found">
                <p th:text="${plant.description}"></p>
            </div>



        </div>




    </div>
</body>

</html>