<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/header.html}"></head>

<body>
    <div th:replace="~{fragments/navBar.html :: navBar('plantWiki')}" th:with="loggedIn=${loggedIn}"></div>
    <div id="homeImage" class="d-flex align-items-center justify-content-center position-fixed w-100 h-100"
         th:style="|background-image: url('@{/images/landingPlant.JPG}');|"></div>
    <div class="container mt-5 bg-white border rounded pt-4">
        <div class="row mb-4" >
            <div class="col">
                <h1 class="mb-3">Plant Wiki</h1>
            </div>
        </div>
        <div class="row mb-4">
            <form th:action="@{/plant-wiki}" method="get" class="d-flex">
                <input type="text" name="search" class="form-control me-2" id="friendSearchBar" placeholder="Search"
                       maxlength="5000" th:value="${searchTerm}" />
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </form>

            <p th:if="${searchError} != ''" class="text-danger fs-6" th:text="${searchError}"></p>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 p-3 text-left">
                <div class="w-25" th:each="plant : ${plants}">
                    <div th:replace="~{fragments/plantSearchResultCard.html :: plantSearchResultCard(
                        plantId=${plant.id},
                        plantName=${plant.commonName},
                        plantSciName=${plant.scientificName},
                        plantOtherNames=${plant.otherNames},
                        plantPicture=${plant.image})}
                            ">
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="https://perenual.com/">Plant search results by Perenual API</a>
            </div>

        </div>
    </div>
</body>

</html>