<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/loginPage.css}" rel="stylesheet">
    <title>Reset Password</title>

</head>
<body>
<div class="form-container">
    <form action="#" th:action="@{/reset-password}" method="post">
        <h1>Reset Password</h1>
        <label for="new-password">New Password:</label><br>
        <input type="password" id="new-password" name="newPassword"><br>

        <label for="retype-password">Retype New Password:</label><br>
        <input type="password" id="retype-password" name="retypePassword"><br>

        <button type="submit">Reset</button>
    </form>
</div>
</body>
</html>
