<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/loginPage.css}" rel="stylesheet">
    <title>Reset Password</title>

</head>
<body>
<div class="form-container">
    <form action="#" th:action="@{/reset-password/{token}(token=${token})}" method="post">
        <h1>Reset Password</h1>
        <label for="password">New Password:</label><br>
        <input type="password" class="form-control" id="password" placeholder="********"
               th:name="password" th:value="*{password}" data-cy="password" required autofocus>

        <label for="retypePassword"> Retype Password: </label>
        <input type="password" class="form-control" id="retypePassword" placeholder="********"
               th:name="retypePassword" th:value="*{retypePassword}" data-cy="retypePassword" required autofocus>
        <p th:if="${passwordError}" class="error-message" th:text="${passwordError}"></p>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>
