<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/loginPage.css}" rel="stylesheet">
    <title>Reset Password</title>

</head>
<body>
<div class="form-container">
    <form th:action="@{/reset}" method="post">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="new-password">New Password:</label><br>
        <input type="password" id="new-password" name="newPassword"><br>

        <label for="retype-password">Retype New Password:</label><br>
        <input type="password" id="retype-password" name="retypePassword"><br>

        <input type="submit" value="Reset Password">
    </form>
</div>
</body>
</html>
