<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/emailHeader.html}"></head>

<body>
    <div class="container">
        <h1 th:text="|Kia ora ${username}|">Greeting</h1>
        <p>This email is to inform you that due to inappropriate behaviour involving the use of our tag system</p>
        <p>You have been banned from accessing Gardener's Canvas for 7 days</p>
        <p>Ban date: <span th:text="${banDate}"></span></p>
        <p>Unban date: <span th:text="${unbanDate}"></span></p>
        <p th:text="${signOff}"></p>
    </div>
</body>

</html>