<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header.html}"></head>

<body>
    <div th:replace="~{fragments/navBar.html :: navBar('login')}" th:with="loggedIn=${loggedIn}"></div>
    <div class="container-lg my-5">

        <div class="text-center">
            <h1>Verify Account</h1>
        </div>

        <div class="row justify-content-center my-5">
            <div class="col-lg-5 p-3">
                <form id="code-form" th:action="@{/verify}" method="post" class="border rounded-3 p-3">

                    <div class="text-center mb-3">
                        <p>An email has been sent to your inbox with a 6 character signup code</p>
                        <p>Enter the code below to verify your account</p>
                    </div>

                    <div class="mb-3 d-flex flex-row gap-2">
                        <div class="ratio ratio-1x1">
                            <input name="code-box" class="form-control text-center text-bold fs-3" type="text" autofocus
                                th:classappend="${message == null ? '' : 'border-danger'}">
                        </div>
                        <div class="ratio ratio-1x1">
                            <input name="code-box" class="form-control text-center text-bold fs-3" type="text"
                                th:classappend="${message == null ? '' : 'border-danger'}">
                        </div>
                        <div class="ratio ratio-1x1">
                            <input name="code-box" class="form-control text-center text-bold fs-3" type="text"
                                th:classappend="${message == null ? '' : 'border-danger'}">
                        </div>
                        <div class="ratio ratio-1x1">
                            <input name="code-box" class="form-control text-center text-bold fs-3" type="text"
                                th:classappend="${message == null ? '' : 'border-danger'}">
                        </div>
                        <div class="ratio ratio-1x1">
                            <input name="code-box" class="form-control text-center text-bold fs-3" type="text"
                                th:classappend="${message == null ? '' : 'border-danger'}">
                        </div>
                        <div class="ratio ratio-1x1">
                            <input name="code-box" class="form-control text-center text-bold fs-3" type="text"
                                th:classappend="${message == null ? '' : 'border-danger'}">
                        </div>
                    </div>

                    <input type="hidden" th:name="emailAddress" th:value="*{emailAddress}" id="emailAddress">
                    <input type="hidden" th:name="tokenString" th:value="*{tokenString}" id="tokenString">

                    <p th:if="${message}" class="text-danger fs-6" th:text="${message}"></p>

                    <div class="d-flex flex-row flex-wrap justify-content-center gap-3">
                        <button type="submit" class="btn btn-success" formnovalidate>Verify</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/js/preventEnterSubmit.js}"></script>
    <script th:src="@{/js/inputCharacterLimit.js}"></script>
    <script th:src="@{/js/verificationCodeInput.js}"></script>
</body>

</html>