$body: #292F36FF;
$primary: #188754FF;
$secondary: #292F36BF;
$tertiary: #292F3680;
$success: #188754FF;
$danger: #FF6B6BFF;
$warning: #FFE66DFF;

@import "../../../node_modules/bootstrap/scss/bootstrap";